@inherits LayoutComponentBase

<div class="ft-layout">
    <header class="ft-header">
        <NavMenu />
    </header>

    <main class="ft-main">
        <article class="content">
            @Body
        </article>
    </main>
</div>
